extend layout.jade

block content
  - var colors = 'lighter default darker black red orange yellow yellow-green green cyan blue violet pink'.split(' ')
  - var size_variants = 'small default disabled large'.split(' ')
  - var themes = 'light dark'.split(' ')
  .row
    - var id = 0
    each theme in themes
      .col-6
        .half-padded(class=theme)
          each color in colors
            h3= color
            each size_variant in size_variants
              .quarter-padded: .row.half-gutter
                .col-xs-1-2
                  .field.checkbox(class=['checkbox-' + color, 'checkbox-' + size_variant])
                    input(type='checkbox', id="checkbox-" + id)
                    label(for="checkbox-" + id)
                      .check
                      span.text= 'CheckBox'

                .col-xs-1-2
                  .field.checkbox(class=['checkbox-' + color, 'checkbox-' + size_variant])
                    input(type='checkbox', id="checkbox-" + id + '-checked', checked=true)
                    label(for="checkbox-" + id + '-checked')
                      .check
                      span.text= 'CheckBox'


              - id++

  include scripts.jade
