extend layout.jade

block content
  - var colors = 'lighter default darker black red orange yellow yellow-green green cyan blue violet pink'.split(' ')
  - var size_variants = 'small default large'.split(' ')
  - var themes = 'light dark'.split(' ')
  .row
    each theme in themes
      .col-6
        .half-padded(class=theme)
          each color in colors
            h3= color
            each size_variant in size_variants
              - var cls = ['btn-' + color, 'btn-' + size_variant]
              .quarter-padded-v
                .input-group
                  .input(class=['input-' + color, 'input-' + size_variant])
                    input(type='text', id="input-" + id, placeholder='placeholder')

                  button.btn.btn-icon-right(class=cls)
                    i.fa.fa-chevron-right
                    span.text= 'Action Button'

            .input-group
              button.btn.btn-icon-left(class='btn-' + color)
                i.fa.fa-chevron-left
                span.text= 'Action Button'

              button.btn(class='btn-' + color)
                span.text= 'Action Button'

              button.btn.btn-icon-right(class='btn-' + color)
                i.fa.fa-chevron-right
                span.text= 'Action Button'

  include scripts.jade
