extend layout.jade

block content
  - var widths = [5, 8, 9, 12]
  - var pads = ['thin-gutter', 'quarter-gutter', 'half-gutter', 'gutter', 'double-gutter', 'triple-gutter']

  each width in widths
    .row
      - for(var col=1; col <= width; col++)
        div(class='col-1-' + width)
          .dummy #{col} / #{width}

  each pad in pads
    br
    each width in widths
      .row(class=pad)
        - for(var col=1; col <= width; col++)
          div(class='col-1-' + width)
            .dummy #{col} / #{width}

  br
  - for(var row=0; row < 5; row++)
    .row
      if row == 0
        div(class='col-1-5')
          .dummy no offset
      else
        div(class='col-1-5 off-' + row + '-5')
          .dummy offset #{row} / 5
